<!DOCTYPE html>
<html>
<head>
    <script src="{{static_url('js/jquery-1.11.3.min.js')}}"></script>
    <script src="{{static_url('js/bootstrap.min.js')}}"></script>
    <script src="{{static_url('js/d3.min.js')}}"></script>
    <script src="{{static_url('js/highcharts.js')}}"></script>
    <script src="{{static_url('js/colorbrewer.js')}}"></script>
    <script src="{{static_url('js/custom.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{static_url('css/custom.css')}}" />
    <title>DinoFun analytics</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Titulo</a>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

</div>

</body>
</html>
