{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Filtrando Visitantes</h1>

<div id="main_map">
    <svg width="800" height="800" id="main_svg">
        <filter id="greyscale">
            <!-- http://demosthenes.info/blog/532/Convert-Images-To-Black-And-White-With-CSS -->
            <feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0
            0.3333 0.3333 0.3333 0 0
            0.3333 0.3333 0.3333 0 0
            0 0 0 1 0" />
        </filter>
        <image class="background" xlink:href="{{static_url('ParkMap.jpg')}}" x="0" y="0" width="800px" height="800px" filter="url(#greyscale)"/>
    </svg>
    <svg width="800" height="300" id="timeline_svg">
    </svg>
</div>

<div id="filter_controls" class="dino-control">
    <h2>Seleccionar un visitante:</h2>
    <ol>
        <li> Seleccione una región mediante la elaboración de un cuadrado en el mapa</li>
        <li> Seleccione un intervalo de tiempo arrastrando en la línea de tiempo inferior</li>
        <li> Haga clic en el botón <i>Obtener iisitantes</i></li>
        <li> Seleccione un visitante de la lista </li>
        <li> De clic en <i>Dibujar ruta</i> </li>
    </ol>

    <h3>Área</h3>
    <div id="area_coords"> Dibuje un cuadrado </div>
    <h3>Tiempo</h3>
    <div id="time_interval"> Seleccione de la línea de tiempo </div>
    <h3>Vistantes</h3>
    <button id="get_subjects_btn" class="btn btn-default"> Obtener visitantes </button>
    <h4> Visitantes encontrados:</h4>
    <div id="subjects_list" class="well"></div>
    <h3>Rutas</h3>
    <button id="get_paths_btn" class="btn btn-default">Dibujar ruta</button>
    <button id="clear_paths_btn" class="btn btn-danger">Limpiar las rutas</button>
</div>


<script type="text/javascript" src="static/js/dino_filter.js">
</script>
{% end %}
