<!DOCTYPE>
<html>
    <head>
        <script src="{{static_url('js/custom.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <title>Taller visualización para el análisis de datos</title>
    </head>
    <body>
        <h1>Taller visualización para el análisis de datos</h1>
        <p class="desc">Ejemplo de <em>despliegue de aplicaciones</em>:</p>
        <a href="javascript:void(0)" onclick="load_data()">Haga clic para agregar los datos</a>
        <div>
            <ul id="list_data">
            </ul>
        </div>
    </body>
</html>